*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

.content {
    margin: 0 auto;
    border: 2px solid lightseagreen;
    width: 80%;
}

.main-header {
    background-color: cyan;
    text-align: center;
    margin-bottom: 10px;
}

.image {
    margin: 0 auto;
    display: block;
}

.sub-title {
    background-color: aqua;
    color: white;
    margin: 20px 0;
}

.text, .item-list, .cook-steps {
    margin: 20px;
}

.item-list, .cook-steps {
    padding-left: 20px;
}